<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<description>quartz调用信息配置</description>
	<!-- 工作的bean -->
	<bean id="myJob" class="com.mengll.melelee.job.JobTest"/>

	<!-- job的配置开始 -->
	<bean id="myJobDetail"
		  class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="myJob"/>
		</property>
		<property name="targetMethod">
			<value>start</value>
		</property>
	</bean>
	<!-- job的配置结束 -->


	<!-- 调度的配置开始 -->
	<bean id="crontestJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="myJobDetail"/>
		</property>
		<property name="cronExpression">
			<value>*/1 * * * * ?</value>
		</property>
	</bean>
	<!-- 调度的配置结束 -->


	<!-- 启动触发器的配置开始 -->
	<bean name="startQuertz" lazy-init="false" autowire="no"
		  class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="crontestJobTrigger"/>
			</list>
		</property>
	</bean>
	<!-- 启动触发器的配置结束 -->


</beans>